{{@@ header('// ') @@}}
layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zjstatus"
    }
  }
    tab split_direction="horizontal" {
      pane size="65%" name="Neovim" {
  {%@@ if profile == "mac" @@%}
        command "/opt/homebrew/bin/nvim"
  {%@@ endif @@%}
      }
      pane size="35%" split_direction="vertical" {
        pane name="Primary"
        pane name="Watch"
      }
    }
}
